{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block head %}
    {{ parent() }}
    <style>
        .translations-table td {vertical-align: top}
        .translations-table textarea {width: 90%}
        .translations-table input {width: 95%; padding: 2px}
        .translation-title a {float: right;}
        .translation-title a::after, .translation-title a::before {content: " ";display: table;}
        .translation-title a::after {clear: both;}
    </style>
{% endblock %}

{% block toolbar %}
    {% set missings = collector.count %}

    {#% if missings > 0 %#}
    {% set icon %}
        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
             x="0px" y="0px" viewBox="0 0 427 316" style="enable-background:new 0 0 427 316;" xml:space="preserve">
            <style type="text/css">
                .st0 {fill: #A9A9AA;}
            </style>
            <g>
                <path class="st0"
                      d="M81.8,172.8l-10.9,24.4c-2.5,5.6,0,12,5.6,14.6c1.3,0.6,2.9,0.9,4.5,0.9c4.4,0,8.2-2.5,10.1-6.6l8.4-19h31.1l8.4,19c1.8,4.1,5.7,6.6,10.1,6.6c1.4,0,2.8-0.3,4.4-0.9l0.2-0.1c5.5-2.5,8-9,5.6-14.6L148,171.9l-22.9-51.4l0-0.1c-0.3-0.5-0.6-0.9-0.8-1.2c0-0.1-0.1-0.1-0.1-0.2c-0.8-1.3-1.9-2.5-3.2-3.2c-0.4-0.4-0.8-0.6-1.4-0.9l-0.5-0.3h-0.4c-0.6-0.2-1.2-0.3-1.9-0.4c-1.2-0.3-2.6-0.3-3.7,0.1l0,0c-0.5,0.1-1.1,0.2-1.6,0.3h-0.4l-0.5,0.3c-0.5,0.2-0.8,0.5-1.1,0.7c0,0,0,0-0.1,0.1c-1.3,0.7-2.5,1.8-3.4,3.3c-0.3,0.3-0.5,0.7-0.6,0.9l-23.5,52.6L81.8,172.8z M109.3,165l5.8-12.9l5.8,12.9H109.3z"/>
                <path class="st0"
                      d="M277.3,113.8c-2.9,0-5.7,1.1-7.8,3.2c-2.1,2.1-3.2,4.9-3.2,7.8v76.8c0,2.9,1.1,5.7,3.2,7.8c2.1,2.1,4.9,3.2,7.8,3.2h29.9c12.9,0,24.5-7.5,29.6-19.2c4.8-11,3.1-23.7-4.2-33c4.5-5.1,7-11.7,7-18.5c-0.1-15.5-12.8-28.1-28.2-28.1H277.3z M288.3,148v-12.1h23.1c3.3,0,6,2.7,6,6c0,3.4-2.7,6.1-6,6.1H288.3z M317.4,180.3c0,5.7-4.6,10.3-10.3,10.3h-18.8V170h18.8C312.8,170,317.4,174.6,317.4,180.3z"/>
                <path class="st0"
                      d="M407.7,81.4c0-1-0.3-1.9-0.5-2.6l0-0.1c-0.1-0.2-0.1-0.4-0.2-0.5c0-0.1-0.1-0.2-0.1-0.3l-0.1-0.2c-0.5-1.2-1.3-2.4-2.2-3.3l-59.9-59.9c-1.9-1.7-4.3-2.8-6.9-3.1c-0.2,0-0.5-0.1-0.9-0.1H81c-0.3,0-0.6,0.1-0.8,0.1c-0.9,0-1.9,0.3-2.7,0.5l-0.1,0c-0.2,0.1-0.4,0.1-0.5,0.2c-0.1,0-0.2,0.1-0.3,0.1l-0.2,0.1c-1.2,0.5-2.4,1.3-3.3,2.2L13.4,74.4c-1.7,1.8-2.8,4.2-3,6.8c-0.1,0.2-0.1,0.5-0.1,0.9V287c0,10.8,8.8,19.6,19.6,19.6h358.4c10.8,0,19.6-8.8,19.6-19.6V82.2C407.8,81.9,407.7,81.6,407.7,81.4z M345.5,93.3h40.2v191.2H220v-251h105.9v40.2C325.9,84.5,334.7,93.3,345.5,93.3z M348,71.2V49.1l22.1,22.1H348z M198,33.5v251H32.3V93.2h40.2c10.8,0,19.6-8.8,19.6-19.6V33.5H198z M47.9,71.2L70,49.1v22.1H47.9z"/>
            </g>
        </svg>
        {% if missings > 0 %}
            <span class="sf-toolbar-status sf-toolbar-status-yellow">{{ missings }}</span>
        {% endif %}
    {% endset %}

    {% set text %}
        <div class="sf-toolbar-info-piece">
            <b>Missing Translations</b>
            <span class="sf-toolbar-status sf-toolbar-status-{{ missings > 0 ? 'yellow' }}">{{ missings }}</span>
        </div>
        {% if collector.localhost %}
            <div class="sf-toolbar-info-piece">
                <span><a target="_blank" href="{{ path('manuel_translation_list') }}">Translation List</a></span>
            </div>

            {#<div class="sf-toolbar-info-piece">
                <span>
                    <a target="_blank" href="{{ path('manuel_translation_generate_file') }}">
                        Update Translation File
                    </a>
                </span>
            </div>
            <div class="sf-toolbar-info-piece ">
                <span>
                    <a target="_blank" href="{{ path('manuel_translation_load_from_file') }}">
                        Synchronize Translations
                    </a>
                </span>
            </div>#}

        {% endif %}
    {% endset %}

    {% include '@WebProfiler/Profiler/toolbar_item.html.twig' with { 'link': true } %}
    {#% endif %#}
{% endblock %}

{% block menu %}
    <span class="label">
        <span class="icon">
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                 x="0px" y="0px" viewBox="0 0 427 316" style="enable-background:new 0 0 427 316;" xml:space="preserve">
                <style type="text/css">
                    .st0 {fill: #A9A9AA;}
                </style>
                <g>
                    <path class="st0"
                          d="M81.8,172.8l-10.9,24.4c-2.5,5.6,0,12,5.6,14.6c1.3,0.6,2.9,0.9,4.5,0.9c4.4,0,8.2-2.5,10.1-6.6l8.4-19h31.1l8.4,19c1.8,4.1,5.7,6.6,10.1,6.6c1.4,0,2.8-0.3,4.4-0.9l0.2-0.1c5.5-2.5,8-9,5.6-14.6L148,171.9l-22.9-51.4l0-0.1c-0.3-0.5-0.6-0.9-0.8-1.2c0-0.1-0.1-0.1-0.1-0.2c-0.8-1.3-1.9-2.5-3.2-3.2c-0.4-0.4-0.8-0.6-1.4-0.9l-0.5-0.3h-0.4c-0.6-0.2-1.2-0.3-1.9-0.4c-1.2-0.3-2.6-0.3-3.7,0.1l0,0c-0.5,0.1-1.1,0.2-1.6,0.3h-0.4l-0.5,0.3c-0.5,0.2-0.8,0.5-1.1,0.7c0,0,0,0-0.1,0.1c-1.3,0.7-2.5,1.8-3.4,3.3c-0.3,0.3-0.5,0.7-0.6,0.9l-23.5,52.6L81.8,172.8z M109.3,165l5.8-12.9l5.8,12.9H109.3z"/>
                    <path class="st0"
                          d="M277.3,113.8c-2.9,0-5.7,1.1-7.8,3.2c-2.1,2.1-3.2,4.9-3.2,7.8v76.8c0,2.9,1.1,5.7,3.2,7.8c2.1,2.1,4.9,3.2,7.8,3.2h29.9c12.9,0,24.5-7.5,29.6-19.2c4.8-11,3.1-23.7-4.2-33c4.5-5.1,7-11.7,7-18.5c-0.1-15.5-12.8-28.1-28.2-28.1H277.3z M288.3,148v-12.1h23.1c3.3,0,6,2.7,6,6c0,3.4-2.7,6.1-6,6.1H288.3z M317.4,180.3c0,5.7-4.6,10.3-10.3,10.3h-18.8V170h18.8C312.8,170,317.4,174.6,317.4,180.3z"/>
                    <path class="st0"
                          d="M407.7,81.4c0-1-0.3-1.9-0.5-2.6l0-0.1c-0.1-0.2-0.1-0.4-0.2-0.5c0-0.1-0.1-0.2-0.1-0.3l-0.1-0.2c-0.5-1.2-1.3-2.4-2.2-3.3l-59.9-59.9c-1.9-1.7-4.3-2.8-6.9-3.1c-0.2,0-0.5-0.1-0.9-0.1H81c-0.3,0-0.6,0.1-0.8,0.1c-0.9,0-1.9,0.3-2.7,0.5l-0.1,0c-0.2,0.1-0.4,0.1-0.5,0.2c-0.1,0-0.2,0.1-0.3,0.1l-0.2,0.1c-1.2,0.5-2.4,1.3-3.3,2.2L13.4,74.4c-1.7,1.8-2.8,4.2-3,6.8c-0.1,0.2-0.1,0.5-0.1,0.9V287c0,10.8,8.8,19.6,19.6,19.6h358.4c10.8,0,19.6-8.8,19.6-19.6V82.2C407.8,81.9,407.7,81.6,407.7,81.4z M345.5,93.3h40.2v191.2H220v-251h105.9v40.2C325.9,84.5,334.7,93.3,345.5,93.3z M348,71.2V49.1l22.1,22.1H348z M198,33.5v251H32.3V93.2h40.2c10.8,0,19.6-8.8,19.6-19.6V33.5H198z M47.9,71.2L70,49.1v22.1H47.9z"/>
                </g>
            </svg>
        </span>
        <strong>Translations</strong>
        <span class="count">
            <span>{{ collector.count }}</span>
        </span>
    </span>
{% endblock %}

{% block panel %}
    <h2 class="translation-title">
        Missing Translations
        <a href="{{ path('manuel_translation_list') }}">
            List
        </a>
    </h2>

    <table class="translations-table">
        <tr>
            <th style="width: 30%">Translation</th>
            <th>Value</th>
            <th style="width: 10%">Actions</th>
        </tr>
        {% for domain, ids in collector.translations %}
            {% for id in ids %}
                <tr class="translation-row">
                    <td style="line-height: 20px">
                        <strong>Id</strong>
                        <input type="text" name="code" value="{{ id }}"/>
                        <strong>Domain</strong>
                        <input type="text" name="domain" value="{{ domain }}"/>
                    </td>
                    <td style="text-align: right;">
                        {% for locale in collector.locales %}
                            <div>
                                <strong style="vertical-align: top">{{ locale }}</strong>
                                <textarea name="value_{{ locale }}" rows="1">{{ id }}</textarea>
                            </div>
                        {% endfor %}
                    </td>
                    <td style="vertical-align: middle">
                        <button type="button" class="sf-button create-translation">
                            <span class="border-l">
                                <span class="border-r">
                                    <span class="btn-bg">Create</span>
                                </span>
                            </span>
                        </button>
                    </td>
                </tr>
            {% endfor %}
        {% endfor %}
    </table>
    <script src="{{ asset('bundles/manueltranslation/js/jquery.min.js') }}"></script>
    <script>
      $(function () {
        $('.create-translation').on('click', function (e) {
          e.preventDefault()
          var $row = $(this).closest('.translation-row')

          var data = {
            code: $row.find('[name="code"]').val(),
            domain: $row.find('[name="domain"]').val(),
            values: {
                {% for locale in collector.locales %}
              '{{ locale }}': $row.find('[name="value_{{ locale }}"]').val(),
                {% endfor %}
            }
          }

          $.post('{{ path('manuel_translation_save_from_profiler') }}', data, function (res) {
            $row.remove()
          })
        })
      })
    </script>
{% endblock %}