{% extends '@ManuelTranslation/base.html.twig' %}

{% trans_default_domain "ManuelTranslationBundle" %}

{% block body %}
    <div id="translations-container">{{ parent() }}</div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .trans-value {
            background-color: #e7e1e3;
            border: 1px solid #b9b9b9;
            border-radius: 3px;
            padding: 4px;
            margin: 2px;
        }
    </style>
{% endblock %}

{% block page_header %}
    {{ 'label.translation_list'|trans }}
{% endblock %}

{% block page_header_right %}
    <div class="d-flex gap-2">
        <a href="#" class="btn btn-primary" id="add-translation">
            <span aria-hidden="true" class="glyphicon glyphicon-plus"></span> {{ 'label.add'|trans }}
        </a>
        {{ include('@ManuelTranslation/Default/dropdown_options.html.twig') }}
    </div>
{% endblock %}

{% block content %}

    <div id="translations-configuration"
         data-paths="{{- {
             'api': path('manuel_translation_api_list')
         }|json_encode|e('html_attr') -}}"
         data-domains="{{- domains|json_encode|e('html_attr') -}}"
         data-locales="{{- locales|json_encode|e('html_attr') -}}"
    ></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        var TranslationData = {
            baseUrlApi: '{{ path('manuel_translation_api_list') }}',
            locales: {{ locales|json_encode|raw }},
            locale: '{{ app.request.locale }}',
            domains: {{ domains|json_encode|raw }},
        };
    </script>
    {# <script src="{{ asset('bundles/manueltranslation/js/translations.js') }}"></script> #}
    <script src="{{ asset('bundles/manueltranslation/config.js') }}"></script>
{% endblock %}