{% trans_default_domain "ManuelTranslationBundle" %}
<div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <span aria-hidden="true" class="glyphicon glyphicon-cog"></span> <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-right" role="menu">
        <li>
            <a href="{{ path('manuel_translation_load_from_file') }}">
                <span aria-hidden="true" class="glyphicon glyphicon-random"></span>
                {{ 'label.load_from_file'|trans }}
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="{{ path('manuel_translation_generate_file') }}">
                <span aria-hidden="true" class="glyphicon glyphicon-indent-right"></span>
                {{ 'label.update_file'|trans }}
            </a>
        </li>
        <li>
            <a href="{{ path('manuel_translation_download_backup_file') }}">
                <span aria-hidden="true" class="glyphicon glyphicon-download"></span>
                {{ 'label.download_generated_file'|trans }}
            </a>
        </li>
        <li>
            <a href="{{ path('manuel_translation_download_live_backup_file') }}">
                <span aria-hidden="true" class="glyphicon glyphicon-download"></span>
                {{ 'label.generate_and_download_cache_file'|trans }}
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="{{ path('manuel_translation_clear_cache') }}">
                <span aria-hidden="true" class="glyphicon glyphicon-random"></span>
                {{ 'label.clear_translation_cache'|trans }}
            </a>
        </li>
        {% if app.environment != 'prod' %}
            <li class="divider"></li>
            <li>
                <a href="{{ path('manuel_translation_transfer_files_to_bd') }}" title="Esta opción posiblemente sea removida en un futuro">
                    <span aria-hidden="true" class="glyphicon glyphicon-refresh"></span>
                    <del>{{ 'label.load_trans_in_bd'|trans }}</del>
                </a>
            </li>
            <li>
                <a href="{{ path('manuel_translation_inactive_unused') }}">
                    <span aria-hidden="true" class="glyphicon glyphicon-exclamation-sign"></span>
                    {{ 'label.inactive_unused_trans'|trans }}
                </a>
            </li>
        {% endif %}
    </ul>
</div>