{% extends '@ManuelTranslation/base.html.twig' %}

{% trans_default_domain "ManuelTranslationBundle" %}

{% block body %}
    <div id="translations-container">{{ parent() }}</div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .code-text {
            white-space: pre; /* CSS 2.0 */
            white-space: pre-wrap; /* CSS 2.1 */
            white-space: pre-line; /* CSS 3.0 */
            white-space: -pre-wrap; /* Opera 4-6 */
            white-space: -o-pre-wrap; /* Opera 7 */
            white-space: -moz-pre-wrap; /* Mozilla */
            white-space: -hp-pre-wrap; /* HP Printers */
            word-wrap: break-word; /* IE 5+ */
        }
    </style>
{% endblock %}

{% block page_header %}
    {{ 'label.translation_list'|trans }}
{% endblock %}

{% block page_header_right %}
    <a href="{{ path('manuel_translation_form') }}" @click.prevent="addTranslation" 
    class="btn btn-primary" id="add-translation">
        <span aria-hidden="true" class="glyphicon glyphicon-plus"></span> {{ 'label.add'|trans }}
    </a>
    {{ include('@ManuelTranslation/Default/dropdown_options.html.twig') }}
{% endblock %}

{% set pagination_content %}
    <div class="row">
        <div class="col-sm-3">
            <h4>
                <b>{{ translations.nbResults }}</b> {{ 'label.items'|trans }}
            </h4>
        </div>
        <div class="col-sm-9 text-right">
            {{ include('@ManuelTranslation/_pagination.html.twig', {paginator: translations}) }}
        </div>
    </div>
{% endset %}

{% block content %}
    {% verbatim %}
        
        <trans-list :locales="locales" :base-api-url.once="baseUrlApi"></trans-list>

    {% endverbatim %}
{% endblock %}

{% block content_old %}

    {{ include('@ManuelTranslation/translations_filter.html.twig') }}
    {{ pagination_content }}

    {{ include('@ManuelTranslation/Default/table_list.html.twig') }}

    {{ pagination_content }}

    {{ include('@ManuelTranslation/Default/translation_form.html.twig') }}
{% endblock %}

{% block javascripts %}
    <script>
    var TranslationData = {
        baseUrlApi: '{{ path('manuel_translation_api_list') }}',
        locales: {{ locales|json_encode|raw }}
    };
    </script>

    {{ parent() }}
    {#<script type="text/javascript">
        $(document).ready(function () {
            var $modal = $('#translation-form-modal');
            var $form = $modal.find('form');
            var $currentRow = null;
            var $buttonAdd = $("#add-translation");

            $buttonAdd.on('click', function (e) {
                e.preventDefault();
                $currentRow = null;
                $form.attr('action', this.href).attr('novalidate', 'novalidate');
                $modal.find('.modal-body').load(this.href + ' .form-content', function () {
                    $modal.modal('show');
                });
            });

            $form.on('submit', function (e) {
                e.preventDefault();
                $form.find(':submit').button('loading');
                $.post(this.action, $form.serializeArray(), function (res, status, request) {
                    $form.find('.form-content').replaceWith($(res).find('.form-content'));
                    if (request.getResponseHeader('saved')) {
                        if ($currentRow) {
                            $.get($currentRow.data('refresh-url'), function (tr) {
                                $currentRow.replaceWith(tr);
                                $modal.modal('hide');
                                $form.find(':submit').button('reset');
                            })
                        }else{
                            $modal.modal('hide');
                            $form.find(':submit').button('reset');
                        }
                    }
                });
            });

            $modal.on('show.bs.modal', function () {
                $(".existen-domains :radio").attr('checked', false);
            }).on('shown.bs.modal', function () {
                $(this).find(':input:not(:disabled,:button):first').focus();
            });

            $('.translation-list').on('click', '.edit-translation', function (e) {
                e.preventDefault();
                $currentRow = $(this).closest('tr');
                $form.attr('action', this.href);
                $modal.find('.modal-body').load(this.href + ' .form-content', function () {
                    $modal.modal('show');
                });
            });

            $form.on('click', ".existen-domains :radio", function (e) {
                $("#{{ form.domain.vars.id }}").val($(this).val());
            });
        });
    </script>#}
{% endblock %}
