{% trans_default_domain "ManuelTranslationBundle" %}

<table class="table">
    <tr>
        <td>
            <div class="d-flex gap-4 align-items-center">
                <strong>{{ translation.code }}</strong>
                <small>{{ translation.domain }}</small>
                <a class="resolve-conflicts btn btn-secondary btn-xs ms-auto"
                   target="_blank" href="{{ path('manuel_translation_resolve_conflict', {id: id}) }}"
                   data-values="{{ translation.values|json_encode }}"
                   data-hash="{{ hash }}"
                   data-active="{{ translation.active }}"
                   data-last-changed="{{ last_changed }}"
                >
                    <span class="bi bi-check"></span>
                </a>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            {% for locale, value in translation.values %}
                <div class="row">
                    <div class="col-sm-1">{{ locale|upper }}</div>
                    <div class="col-sm-11">
                        <pre>{{ value }}</pre>
                    </div>
                </div>
            {% endfor %}
        </td>
    </tr>
    <tr>
        <td>{{ 'label.active'|trans }}</td>
        <td>{{ translation.active }}</td>
    </tr>
</table>