{% trans_default_domain "ManuelTranslationBundle" %}

<table class="table">
    <tr>
        <td>
            <strong>{{ translation.code }}</strong>
            <a class="resolve-conflicts pull-right btn btn-default btn-xs"
               target="_blank" href="{{ path('manuel_translation_resolve_conflict', {id: id}) }}"
               data-values="{{ translation.values|json_encode }}"
               data-hash="{{ hash }}"
               data-active="{{ translation.active }}"
               data-last-changed="{{ last_changed }}"
                    >
                <span aria-hidden="true" class="glyphicon glyphicon-ok"></span>
            </a>
            <small class="pull-right">{{ translation.domain }}</small>
        </td>
    </tr>
    <tr>
        <td>
            {% for locale, value in translation.values %}
                <div class="row">
                    <div class="col-sm-1">{{ locale|upper }}</div>
                    <div class="col-sm-11">
                        <pre>{{ value }}</pre>
                    </div>
                </div>
            {% endfor %}
        </td>
    </tr>
    <tr>
        <td>{{ 'label.active'|trans }}</td>
        <td>{{ translation.active }}</td>
    </tr>
</table>