{% extends '@ManuelTranslation/base.html.twig' %}

{% trans_default_domain "ManuelTranslationBundle" %}

{% block page_header %}{{ 'label.sync_results'|trans }}{% endblock %}

{% block page_header_rigth %}
    {% if conflicted_items|length == 0 %}
        <a class="btn btn-primary" href="{{ path('manuel_translation_list') }}">Aceptar</a>
    {% endif %}
{% endblock %}

{% block content %}

    <table class="table table-bordered table-striped table-hover" style="width: auto">
        <tr>
            <td class="col-xs-9">{{ 'label.new_items'|trans }}</td>
            <td class="col-xs-3 text-right">{{ news|number_format(0) }}</td>
        </tr>
        <tr>
            <td>{{ 'label.updated_items'|trans }}</td>
            <td class="text-right">{{ updates|number_format(0) }}</td>
        </tr>
        <tr>
            <td>{{ 'label.conflicted_items'|trans }}</td>
            <td class="text-right">{{ conflicted_items|length|number_format(0) }}</td>
        </tr>
        <tr>
            <td>{{ 'label.to_inactivate_items'|trans }}</td>
            <td class="text-right">{{ inactivated|number_format(0) }}</td>
        </tr>
    </table>

    {% if conflicted_items|length > 0 %}
        <fieldset>
            <legend>{{ 'label.conflict_items'|trans }}</legend>
            <table class="table table-bordered table-striped table-hover translation-list">
                <thead>
                    <tr>
                        <th class="col-sm-6">{{ 'label.local_values'|trans }}</th>
                        <th class="col-sm-6">{{ 'label.database_values'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in conflicted_items %}
                        <tr class="conflict-item">
                            <td>
                                {% include '@ManuelTranslation/Sync/_translation_data.html.twig' with {
                                id: data['database'].id,
                                translation: data['file'],
                                hash: data['hash'],
                                } only %}
                            </td>
                            <td>
                                {% include '@ManuelTranslation/Sync/_translation_data.html.twig' with {
                                id: data['database'].id,
                                translation: data['database'],
                                hash: data['hash'],
                                } only %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </fieldset>
    {% endif %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(".resolve-conflicts").on('click', function (e) {
            e.preventDefault();
            var $btn = $(this).button('loading');
            var $otherBtn = $btn.closest('.conflict-item').find('.resolve-conflicts').not(this).attr('disabled', true);
            var data = {
                values: $btn.data('values'),
                files: $btn.data('files'),
                hash: $btn.data('hash')
            };
            $.post($btn.attr('href'), data, function (res) {
                $btn.button('reset');
                $otherBtn.attr('disabled', false);
                $btn.closest('.conflict-item').remove();

                if ($('.conflict-item').size() == 0) {
                    document.location = '{{ path('manuel_translation_list') }}';
                }
            });
        });
    </script>
{% endblock %}
