{% extends '@ManuelTranslation/base.html.twig' %}

{% trans_default_domain "ManuelTranslationBundle" %}

{% block page_header %}
    {{ 'label.translation_list'|trans }}
{% endblock %}

{% block page_header_right %}
    <a href="#" @click.prevent="addTranslation"
       class="btn btn-primary" id="add-translation">
        <span aria-hidden="true" class="glyphicon glyphicon-plus"></span> {{ 'label.add'|trans }}
    </a>
    {{ include('@ManuelTranslation/Default/dropdown_options.html.twig') }}
{% endblock %}

{% block content %}

    {{ dump(entities) }}

    {{ form(form) }}

{% endblock %}